<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            for(var i = 0; i < 50; i++) {
                $('#messages').append('<li></li>');
            }
            var socket = io();
            socket.on('connect', function() {
            });
            socket.on('disconnect', function() {
            });

            socket.on('message', function(msg) {
                if ($('#messages li').length >= 50) {
                    $('#messages li:first-child').remove();
                }
                $('#messages').append('<li>' + msg + '</li>');
            });

            $('#send').on('click',function (){
                var message = $('#message').val();
                socket.send(message);
                $('#message').val('');
            });

        });

    </script>
    <ul id="messages"></ul>
    <input type="text" id="message">
    <button id="send">Send</button>
</body>
</html>